body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

h4 {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

time {
    color: #AAAAAA;
}

header img {
    width: 75px;
}

ion-icon {
    position: relative;
    top: 7px;
    height: 31px;
    width: 42px;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 22px 11px 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 17px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ion-icon {
    top: 3px;
}

footer .container {
    width: 90%;
}

footer input {
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
}

footer ::placeholder {
    font-style: italic;
    color: black;
}

footer p {
    margin-top: 5px;
    font-weight: 300;
}

ul {
    margin-top: 100px;
}

li {
    padding: 20px 8px;
    margin: 4px 0;
    border-radius: 2px;
}

.hidden {
    display: none;
}

.status {
    background-color: #DCDCDC;
}

.msg {
    background-color: #FFFFFF;
}

.private-msg {
    background-color: #FFDEDE;
}

section {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    opacity: 1;
    transition: 0.7s;
}

section .container {
    width: 265px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20vh;
}

section img {
    width: 130px;
    margin-bottom: 95px;
}

section input {
    width: 261px;
    height: 54px;
    border-color: #D7D7D7;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    text-align: center;
}

section input ::placeholder {
    color: #AEAEAE;
}

section p {
    color: brown;
}

section button {
    width: 109px;
    height: 45px;
    color: #696969;
    font-size: 18px;
    background: #E7E7E7;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    height: 100%;
    width: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    white-space: nowrap;
}

.check {
    color:#28BB25;
    width: 20px;
    --ionicon-stroke-width: 64px;
    visibility: hidden;
}

.select {
    visibility: visible;
}

aside .container {
    display: flex;
    align-items: center;
}

aside ion-icon {
    position: relative;
    top: 0px;
}

aside .contacts, aside .visibility {
    margin: 0 20px;
}

aside .contact, aside .public, aside .private {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

aside p, aside h4{
    font-size: 16px;
}

aside h4 {
    margin: 35px 20px;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
